.book {
  font-family:
      -apple-system, BlinkMacSystemFont, 
      "Segoe UI", "Roboto", "Oxygen", 
      "Ubuntu", "Cantarell", "Fira Sans", 
      "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.markdown-section * {
  font-size: 16px;
}

.markdown-section code {
  font-family: "Source Code Pro", Inconsolata, Consolas, "Droid Sans Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 14px;
}
