.book-summary {
  font-family: "Noto Sans CJK SC", "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  font-size: 14px;
}

.book-header .btn {
  padding: 0 5px;
}

.markdown-section {
  font-family: "Noto Sans CJK SC", "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  font-weight: 400;
  font-size: 14px;
  direction: rtl;
}

.markdown-section pre>code {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 14px;
}

.markdown-section code:not([class]) {
  white-space: nowrap;
  padding: 0;
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  border-left: 4px solid #64b5f6;
  border-top: 1px solid #64b5f6;
  color: #000000;
  margin-top: 10px;
}

code {
  direction: ltr !important;
}