{% block book_header %}
<div class="book-header" role="navigation">
    {% if glossary.path %}
    <a href="{{ ('/' + glossary.path)|resolveFile }}" class="btn pull-left" aria-label="{{ "GLOSSARY_OPEN"|t }}"><i class="fa fa-sort-alpha-asc"></i></a>
    {% endif %}

    {% if page.refcn and page.refen %}
    <a class="btn pull-left" href="https://www.v2ray.com/en/{{ page.refen }}.html" target="_blank">
        <img src="/resources/flag_en.svg" alt="English" height="16">
    </a>
    <a class="btn pull-left" href="https://www.v2ray.com/{{ page.refcn }}.html" target="_blank">
        <img src="/resources/flag_cn.svg" alt="Chinese" height="16">
    </a>
    <a class="btn pull-left" href="https://www.v2ray.com/de/{{ page.refen }}.html" target="_blank">
        <img src="/resources/flag_de.svg" alt="German" height="16">
    </a>
    <a class="btn pull-left" href="https://www.v2ray.com/ru/{{ page.refen }}.html" target="_blank">
        <img src="/resources/flag_ru.svg" alt="Russian" height="16">
    </a>
    <a class="btn pull-left" href="https://crowdin.com/project/v2ray" target="_blank">
        <img src="/resources/translate.png" alt="Translate" height="16">
    </a>
    {% endif %}
</div>
{% endblock %}
