{% block book_header %}
<div class="book-header" role="navigation">
    {% if glossary.path %}
    <a href="{{ ('/' + glossary.path)|resolveFile }}" class="btn pull-left" aria-label="{{ "GLOSSARY_OPEN"|t }}"><i class="fa fa-sort-alpha-asc"></i></a>
    {% endif %}

    {% if page.refcn and page.refen %}
    <span class="pull-left trans-list">
        <a href="https://www.v2ray.com/en/{{ page.refen }}.html" target="_blank">
            <img src="/resources/flag_en.svg" alt="English" height="16">
        </a>
        <a href="https://www.v2ray.com/{{ page.refcn }}.html" target="_blank">
            <img src="/resources/flag_cn.svg" alt="Chinese" height="16">
        </a>
        <a href="https://www.v2ray.com/de/{{ page.refen }}.html" target="_blank">
            <img src="/resources/flag_de.svg" alt="German" height="16">
        </a>
        <a href="https://www.v2ray.com/ru/{{ page.refen }}.html" target="_blank">
            <img src="/resources/flag_ru.svg" alt="Russian" height="16">
        </a>
    </span>
    {% endif %}
</div>
{% endblock %}
