.markdown-section * {
  font-family:
      -apple-system, BlinkMacSystemFont, 
      "Segoe UI", "Roboto", "Oxygen", 
      "Ubuntu", "Cantarell", "Fira Sans", 
      "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.markdown-section pre>code {
  font-family: "Source Code Pro", Inconsolata, Consolas, "Droid Sans Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
}

.markdown-section code:not([class]) {
  white-space: nowrap;
  font-weight: 600;
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  border-left: 4px solid #64b5f6;
  border-top: 1px solid #64b5f6;
  color: #000000;
}
