<!DOCTYPE HTML>
<html lang="{{ config.language }}" {% if page.dir == "rtl" %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>{% block title %}{{ config.title|d("GitBook", true) }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script type="text/javascript">
function inIframe () {
    try { return window.self !== window.top; } catch (e) { return true; }
}
function isValidDomain() {
    var host = window.location.hostname;
    return host.indexOf('v2ray.com') >= 0 || host.indexOf('github') >= 0;
}
if (inIframe()) {
    window.top.location.href = 'https://www.v2ray.com/';
}
if (!isValidDomain()) {
    window.location.href = 'https://www.v2ray.com/';
}
        </script>
        {% block style %}
            {% for resource in plugins.resources.css %}
                {% if resource.url %}
                <link rel="stylesheet" href="{{ resource.url }}">
                {% else %}
                <link rel="stylesheet" href="{{ resource.path|resolveAsset }}">
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
